<!--The page of the user's information and the page to create a blog from it-->

<h2>Hello {{username}}</h2>

<p>To start a new blog click button:</p>

<form action="/blogcreate" method="POST">
    <input type="submit" name="add" value="Blog">
</form>

<div class="blog-list">
    <h2>Blogs</h2>

    <!--Get all the blogs from the database-->
    <!--Able to delete any blog-->
    <div class="blogs">
        {{#each blogs}}
            <H3><a href="/blog/{{this._id}}">{{this.title}}</a></h3>
            <form action="/delete" method="POST">
                <input type="hidden" name="_id" value="{{this._id}}">
                <input type="submit" name="delete" value="Delete">
            </form>
        {{else}}
            <p>No blogs in the database</p>
        {{/each}}
    </div>

</div>

<a href="/logout">Logout</a> 