<h2>Hello {{username}}</h2>

<p>To start a new blog click button:</p>

<form action="/blogcreate" method="POST">
    <input type="submit" name="add" value="Blog">
</form>

<div class="blog-list">
    <h2>Blogs</h2>

    <div class="blogs">
        {{#each logs}}
            <h3>{{blog.text}}</h3>
            <p><a href="/blog/{{this._id}}">{{blog.title}}</a></p>
        {{else}}
            <p>No blogs in the database</p>
        {{/each}}
    </div>

</div>

<a href="/logout">Logout</a> 