<!--The page of the user's information and the page to create a blog from it-->

<h2>Hello my name is
    {{#if profile.name}}
        {{profile.name}}
    {{/if}}</h2>

<h2>About Me</h2>
    <p>{{#if profile.about}}
        {{profile.about}}
        {{else}}
    {{/if}}</p>

    <p>{{#if profile.email}}
        {{profile.email}}
    {{else}}
    {{/if}}</p>

    <p>{{#if profile.education}}
        {{profile.education}}
    {{else}}
    {{/if}}</p>

    <p>{{#if profile.job}}
        {{profile.job}}
    {{else}}
    {{/if}}</p>

<h3>Update your profile</h3>

<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<!--The form method for saving any changes made to the user's account information-->
<form action="/updateProfile" method="POST">
    <input type="submit" name="updateSecrets" value="Update Profile">
</form>

<p>To start a new blog click button:</p>

<form action="/blogcreate" method="POST">
    <input type="submit" class='blogCreate' name="add" value="Create a Blog">
</form>
<form action="/blogpage" method="POST">
    <input type="submit" class="blogpage" name="blogPage" value="Blogs">
</form>


<!--<div class="blog-list">-->
    <!--<h2>Blogs</h2>-->

    <!--&lt;!&ndash;Get all the blogs from the database&ndash;&gt;-->
    <!--&lt;!&ndash;Able to delete any blog&ndash;&gt;-->
    <!--<div class="blogs">-->
        <!--{{#each blogs}}-->
            <!--<H3><a href="/blog/{{this._id}}">{{this.title}}</a></h3>-->
            <!--<form action="/delete" method="POST">-->
                <!--<input type="hidden" name="_id" value="{{this._id}}">-->
                <!--<input type="submit" name="delete" value="Delete">-->
            <!--</form>-->
        <!--{{else}}-->
            <!--<p>No blogs in the database</p>-->
        <!--{{/each}}-->
    <!--</div>-->

<!--</div>-->

<a href="/logout">Logout</a>
